/* ================================================== *\
	Base
\* ================================================== */

body {
	min-width: 320px;
	background: #fff;
	font-family: $font-family-base;
	font-size: $font-size-base;
	text-align: center;
	color: $white;
}
