/* ================================================== *\
	Btn
\* ================================================== */

.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 10px 30px;
	background: #ffd452;
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
	appearance: none;
	border-radius: 5px;
	border: none;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	transition: background .3s, color .3s;

	&:hover {
		background: #544a7d;
		color: $white;
	}
}