/* ================================================== *\
	Reset
\* ================================================== */

* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: inherit;
	}
}